/* Import Font Quicksand and Fugaz One */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Quicksand:wght@600&display=swap');

:root {
  --bg-red-color: #E10600;
  --primary-text-color: #000;
  --link-color: #FFF;
  --primary-bg-color: #FFF;
  --secondary-bg-color: #F2F2F2;
}

* {
  color: var(--primary-text-color);
  list-style: none;
  font-family: 'Fugaz One', cursive;
}

section {
  scroll-margin-top: 18rem;
}

.navbar-toggler {
  border-color: #000;
  background-color: var(--primary-bg-color);
}

.nav-link {
  padding: .5rem 1rem;
  border-radius: .5rem;
}

.nav-link:focus {
  color: var(--link-color);
}

.nav-link:hover,
.nav-link:active {
  color: #cccccc;
  transition: 300ms linear;
}


.navbar-brand:hover,
.navbar-brand:visited {
  text-decoration: none;
  color: var(--link-color)
}

.nav-link,
.navbar-brand,
.navbar-toggler {
  color: var(--link-color);
}

.navbar {
  margin: 0;
  background-color: var(--bg-red-color);
}

.nav-item .nav-link,
.description p,
.card-text,
.view-more,
.btn,
.footer-link-text {
  font-family: 'Quicksand', sans-serif;
}

/* Description */

.description p {
  text-align: justify;
}

/* Footer - Contact */

footer {
  color: var(--link-color);
  background-color: var(--bg-red-color);
}

.footer-li img {
  width: 1.25rem;
}

.contacts {
  grid-template-columns: 1fr;
}

.contacts p,
.footer-link-text {
  color: var(--link-color);
}

.footer-link-text:hover {
  text-decoration: underline;
}

.contacts,
.footer-li {
  gap: 1rem;
  margin-top: 1rem;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 0;
}

.footer-link-text {
  text-decoration: none;
}


/* Scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-red-color);
  border-radius: 10px;
}


/* Media Queue */

@media screen and (min-width: 680px) {
  .description {
    max-width: 40rem;
  }

  .contacts {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 42.5rem;
  }

  .footer-li img {
    width: 1.5rem;
  }
}


@media screen and (min-width: 992px) {
  section {
    scroll-margin-top: 5rem;
  }

  .description,
  .contacts {
    max-width: 50rem;
  }

  .description p,
  .contacts {
    font-size: 1.25rem;
  }

  .footer-li img {
    width: 1.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 2.5rem;
  }
}