.navbar-toggler {
  border-color: #000;
}

.nav-link:hover, 
.navbar-brand:hover {
  color: var(--secondary-bg-color);
}

.navbar-toggler, .header {
  background-color: var(--primary-bg-color);
}

.header .title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.header .name {
  margin: 0;
  padding: 0;
}

.contact-icons {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.contact-item:hover {
  transform: scale(1.25);
}

.about-me {
  background-color: var(--secondary-bg-color);
  max-height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about-me .profile-photo img {
  width: 150px;
  border-radius: 50%;
}

.description p {
  text-align: justify;
}

.list-hard-skills {
  flex-flow: row wrap;
  gap: 2.5rem;
  padding: 0;
}

.list-hard-skills li figure figcaption {
  margin-top: 0.725rem;
  font-size: 0.725rem;
}

.list-soft-skills li::before {
  content: '✱ ';
}

#projects {
  background-color: var(--secondary-bg-color);
}

#projects .projects-container {
  display: grid;
  /* grid-template-columns: repeat(3, 100%); */
  grid-auto-flow: column;
  overflow: auto hidden;
  gap: 40px;
  background-color: var(--secondary-bg-color);
}

.card {
  color: var(--primary-text-color);
}

.view-more {
  background-color: var(--bg-red-color);
  color: var(--link-color);
}

.view-more:hover {
  transform: scale(1.05);
  border-color: var(--bg-red-color);
  color: var(--bg-red-color);
}

footer {
  color: var(--link-color);
  background-color: var(--bg-red-color);
}

.contacts p, .link-text { 
  color: var(--link-color);
}

.contacts, .footer-li {
  gap: 1rem;
}

.link-text {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-red-color);
  border-radius: 10px;
}

