/* Sectrion - Presentation */

h1,
.name,
.card-title {
  font-family: 'Fugaz One', cursive;
}

.presentation {
  margin-top: 4rem;
  background-color: var(--primary-bg-color);
}

.presentation .title {
  font-size: 2.375rem;
  line-height: 2.375rem;
  margin-bottom: 0;
}

.presentation .name {
  margin: 0;
  padding: 0;
}

.presentation .contact-icons .contact-item a img {
  width: 1.25rem;
}

.contact-icons {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.contact-item {
  transition: 300ms linear;
}

.contact-item:hover {
  transform: scale(1.25);
}

/* Section - About me */

.about-me {
  background-color: var(--secondary-bg-color);
  gap: 0.625rem;
}

.about-me .profile-photo img {
  width: 150px;
  border-radius: 50%;
}

/* Section - Skills */

.list-hard-skills {
  flex-flow: row wrap;
  gap: 2.5rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-hard-skills li figure figcaption {
  margin-top: 0.725rem;
  font-size: 0.725rem;
}

.tech-icons {
  max-width: 52px;
}

.list-soft-skills li::before {
  content: '✱ ';
  padding-right: 0.5rem;
}


/* Section - Projects */

#projects {
  min-height: 100vh;
  background-color: var(--secondary-bg-color);
}

#projects .projects-container {
  display: grid;
  grid-auto-flow: column;
  overflow: auto hidden;
  gap: 2rem;
  background-color: var(--secondary-bg-color);
}

.card {
  color: var(--primary-text-color);
}

.view-more {
  background-color: var(--bg-red-color);
  color: var(--link-color);
}

.view-more:hover {
  transform: scale(1.05);
  border-color: var(--bg-red-color);
  color: var(--bg-red-color);
}


/* Media Queues */

@media screen and (min-width: 380px) {
  .presentation .title {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  
  .list-hard-skills {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (min-width: 576px) {
  .presentation .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .presentation .name {
    font-size: 1.125rem;
  }

}

@media screen and (min-width: 680px) {
  .presentation .name {
    font-size: 1.25rem;
  }

  .presentation .title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .presentation .contact-icons {
    gap: 2rem;
  }

  .presentation .contact-icons .contact-item a img,
  .footer-li img {
    width: 1.5rem;
  }

  .list-hard-skills {
    grid-template-columns: repeat(5, 1fr);
  }

  .list-soft-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 975px) {
  .arrow-right {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .presentation .name {
    font-size: 1.75rem;
  }

  .presentation .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .presentation .contact-icons {
    gap: 3rem;
  }

  .presentation .contact-icons .contact-item a img,
  .footer-li img {
    width: 1.875rem;
  }

  .list-soft-skills li {
    font-size: 1.25rem;
  }

  .about-me .profile-photo img {
    width: 11.25rem;
  }

  .list-hard-skills li figure figcaption {
    font-size: .875rem;
  }

  #projects .projects-container {
    gap: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .presentation .name {
    font-size: 2rem;
  }

  .presentation .title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .about-me .profile-photo img {
    width: 13.5rem;
  }
}