.project {
  gap: 3rem;
  margin-top: 4rem;
  max-width: 100%;
  padding: 3rem;
}

.buttons {
  gap: 1rem;
}

.btn {
  border-radius: .375rem;
  background-color: var(--bg-red-color);
  color: var(--link-color);
  border-color: var(--bg-red-color);
  font-size: 0.875rem;
}

.btn:hover {
  transform: scale(1.05);
  border-color: var(--bg-red-color);
  color: var(--bg-red-color);
  background-color: var(--link-color);
}

.project-description {
  background-color: var(--secondary-bg-color);
  align-items: center;
  justify-content: center;
  gap: 0.625rem;

  scroll-margin-top: 15rem;
}

.description-list li {
  list-style: initial;
}

@media screen and (min-width: 480px) {
  .btn {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 576px) {
  .btn {
    max-width: 13.75rem;
  }
}

@media screen and (min-width: 768px) {
  .project {
    padding: 3rem 5rem;
  }
  
}

@media screen and (min-width: 992px) {
  .project {
    padding: 4rem 7rem;
  }

  .project-description {
    scroll-margin-top: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    padding: 5rem 20rem;
  }
}
