a {
  color: #FFF !important; 
}

.navbar-brand,
.header {
  font-family: 'Fugaz One', cursive;
}

.navbar {
  background-color: #E10600;
}

.navbar-toggler {
  background-color: #FFF;
}

.header {
  background-color: #FFF;
  color: #000;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 40vh;
}

.header .title {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.header .name {
  margin: 0;
  padding: 0;
}