* {
  list-style: none;
}

a {
  color: #FFF !important; 
}

.navbar-brand,
.header {
  font-family: 'Fugaz One', cursive;
}

.navbar {
  background-color: #E10600;
}

.navbar-toggler {
  background-color: #FFF;
}

.header {
  background-color: #FFF;
  color: #000;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 40vh;
}

.header .title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.header .name {
  margin: 0;
  padding: 0;
}

.about-me {
  background-color: #F2F2F2;
  height: 40vh;
}

.contact-icons {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.contact-item:hover {
  transform: scale(1.25);
}